<!DOCTYPE html>
<html>
  <head>
    <title>Eventz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
       <h1><%= link_to "Events", root_path %> </h1>
       <ul>
          <li>
            <%= link_to "All Events", events_path %>
          </li>
       </ul>
      </nav>
    </header>

    <div class="content">
      <%= yield %>
    </div>

    <footer>
      <p>
        Made with love
      </p>
    </footer>
  </body>
</html>
